<footer class="docs-footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div style="float:left"><span class="copyright">Copyright &copy; Form.io LLC 2015. All rights reserved</span></div>
            </div>
            <div class="col-md-3" class="text-center">
                <p>Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> in Dallas, TX</p>
                <p><a href="//launchedindfw.com/"><img src="//launchedindfw.com/l.php?img=g&check=true" style="width:30px;height:auto;"></a></p>
            </div>
        </div>
    </div>
</footer>
