<div class="sidebar">
  <nav class="docs-sidebar">
    <ul class="nav nav-stacked list-group">
      {% if page.section %}
      {% assign chapters = (site.chapters | where: "book",page.book | where: "section",page.section | sort: "weight") %}
      {% endif %}
      {% if page.section == nil %}
      {% assign chapters = (site.chapters | where: "book",page.book | sort: "weight") %}
      {% endif %}
      {% for chapter in chapters %}
      <li class="list-group-item {% if page.chapter == chapter.chapter %} active{% endif %}">
        {% if chapter.section %}
        <a href="{{ site.baseUrl }}/{{ chapter.book }}/{{ chapter.section }}/{{ chapter.chapter }}/">{{ chapter.subtitle }}</a>
        {% assign paragraphs = (site.paragraphs | where: "chapter",chapter.chapter | where: "section":chapter.section | sort: "weight") %}
        <ul class="nav {% if page.chapter == chapter.chapter %}{% if page.section == chapter.section %}active{% endif %}{% endif %} hidden-print hidden-xs hidden-sm">
          {% endif %}
          {% if chapter.section == nil %}
          <a href="{{ site.baseUrl }}/{{ chapter.book }}/{{ chapter.chapter }}/">{{ chapter.subtitle }}</a>
          {% assign paragraphs = (site.paragraphs | where: "chapter",chapter.chapter | where: "book":chapter.book | sort: "weight") %}
          <ul class="nav {% if page.chapter == chapter.chapter %}{% if page.book == chapter.book %}active{% endif %}{% endif %} hidden-print hidden-xs hidden-sm">
            {% endif %}
            {% for paragraph in paragraphs %}
            <li><a href="#{{ paragraph.slug }}">{{ paragraph.title }}</a></li>
            {% endfor %}
          </ul>
          </li>
          {% endfor %}
        </ul>
        <a class="back-to-top" href="#top">
          Back to top
        </a>
      </li>
    </ul>
  </nav>
</div>
