// Variables
$brand-primary: #4EAA17;
$brand-secondary: #0079C0;
$brand-primary-dark: darken($brand-primary, 2%);
$brand-primary-darker: darken($brand-primary, 10%);
$brand-secondary-dark: darken($brand-secondary, 15%);
$brand-secondary-light: lighten($brand-secondary, 5%);
$brand-success: $brand-primary;
$state-success-text: $brand-primary;
$brand-danger: #e74c3c;
$gray-darkest: #222;
$icon-font-path: '/assets/lib/bootstrap/fonts/';
$font-color: #1B77C2;
$gray: #777;
$gray-lighter: #f7f7f7;
$placeholder-text: #bbbbbb;
$price-panel-basic: #56B147;
$price-panel-ind: #0079C0;
$price-panel-team: #00A7EB;
$price-panel-ent: #555555;
