/*
 * Page headers
 *
 * Jumbotron-esque headers at the top of every page that's not the homepage.
 */

a {
    color: #0e5c8f;
}
h2[id] {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    color: #093e61;
}

h3[id] {
    color: #0c5280;
}

#content img {
    width: 100%;
}
/* Page headers */
.docs-header {
    background-color: #0e5c8f;
    margin-bottom: 40px;
    font-size: 20px;
}
.docs-header h1 {
    margin-top: 0;
    color: #fff;
}
.docs-header p {
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.4;
    color: #d4ebfb;
}
.docs-header .container {
    position: relative;
}

@media (min-width: 768px) {
    .docs-header {
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 24px;
        text-align: left;
    }
    .docs-header h1 {
        font-size: 60px;
        line-height: 1;
    }
}

@media (min-width: 992px) {
    .docs-header h1,
    .docs-header p {
        margin-right: 380px;
    }
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.docs-sidebar.affix {
    position: static;
}
@media (min-width: 768px) {
    .docs-sidebar {
        padding-left: 20px;
    }
}

/* First level of nav */
.docs-sidenav {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* All levels of nav */
.docs-sidebar .nav > li > a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}
.docs-sidebar .nav > li > a:hover,
.docs-sidebar .nav > li > a:focus {
    padding-left: 19px;
    color: #5cb85c;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #5cb85c;
}
.docs-sidebar .nav > .active > a,
.docs-sidebar .nav > .active:hover > a,
.docs-sidebar .nav > .active:focus > a {
    padding-left: 18px;
    font-weight: bold;
    color: #5cb85c;
    background-color: transparent;
    border-left: 2px solid #5cb85c;
}

/* Nav: second level (shown on .active) */
.docs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    padding-bottom: 10px;
}
.docs-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: normal;
}
.docs-sidebar .nav .nav > li > a:hover,
.docs-sidebar .nav .nav > li > a:focus {
    padding-left: 29px;
}
.docs-sidebar .nav .nav > .active > a,
.docs-sidebar .nav .nav > .active:hover > a,
.docs-sidebar .nav .nav > .active:focus > a {
    padding-left: 28px;
    font-weight: 500;
}

/* Back to top (hidden on mobile) */
.back-to-top,
.docs-theme-toggle {
    padding: 4px 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #999;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
    .docs-sidebar .nav > .active > ul {
        display: block;
    }
    /* Widen the fixed sidebar */
    .docs-sidebar.affix,
    .docs-sidebar.affix-bottom {
        width: 213px;
    }
    .docs-sidebar.affix {
        position: fixed; /* Undo the static from mobile first approach */
        top: 20px;
    }
    .docs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }
    .docs-sidebar.affix-bottom .docs-sidenav,
    .docs-sidebar.affix .docs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .docs-sidebar.affix-bottom,
    .docs-sidebar.affix {
        width: 263px;
    }
}

.docs-nav {
    margin-bottom: 0;
    border-bottom: 0;
    background-color: #fff;
}

/*
 * Docs sections
 *
 * Content blocks for each component or feature.
 */

/* Space things out */
.docs-section {
    margin-bottom: 60px;
}
.docs-section:last-child {
    margin-bottom: 0;
}

.note {
    background-color: #fcf8e3;
    padding: 15px;
    border: 1px solid #f2e187;
}

.warning {
    background-color: #f2dede;
    padding: 15px;
    border: 1px solid #dfadad;
}
