---
layout: default
---
{{ content }}

{% assign chapters = (site.chapters | where: "book" , page.book | sort: "weight") %}
{% for chapter in chapters %}
<div class="row">
  <h3 id="{{ chapter.chapter }}">{{ chapter.title }}</a></h3>
  {{ chapter.content }}
  {% assign paragraphs = (site.paragraphs | where: "chapter" , chapter.chapter | sort: "weight) %}
  {% for paragraph in paragraphs %}
    <h4 id="{{ paragraph.slug }}">{{ paragraph.title }}</a></h4>
    {{ paragraph.content }}
  {% endfor %}
</div>
{% endfor %}